{% extends "base.html" %}
{% block title %}Chat{% endblock %}
{% block body %}
<div class="input-group mb-3 fixed-bottom container bg-light">
    <input type="text" class="form-control" placeholder="Message" id="message">
    <div class="input-group-append">
        <button class="btn btn-success" type="submit" onclick="send_message()">Send</button>
    </div>
</div>
<div class="container" style="margin-top:80px;margin-bottom:80px;">
    {% for message in messages %}
    <div id="messages">
        <div class="media-body">
            <h4>{{message.sender}} <small><i>Posted on {{message.posted.strftime('%d %B %H:%M')}}</i></small></h4>
            <p>{{message.message}}</p>
        </div>
        {% endfor %}
    </div>
</div>
<script src="static/chatscript.js"></script> 
{% endblock %}