<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        Username:<br>
        <input type="text" name="username"/><br>
        Password:<br>
        <input type="password" name="password"/><br>
        Repeat password:<br>
        <input type="password"  name="password2" /><br>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>