{% extends "base.html" %} {% block body %}
<div class="container">
    <div class="row flex-column-reverse flex-lg-row mt-4">
        <div class="col-md-6 p-3 mt-2">
            <h2>Example</h2>
            <div class="h-divider"></div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="p-3 mt-2 transparent-background rounded col-md-6">
            <h2>Register</h2>
            <div class="h-divider"></div>
            <form method="POST" class="needs-validation">
                <div class="form-group">
                    <label for="uname">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required value="{{email}}">
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd-1" name="pwd-1" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="pwd">Repeat password:</label>
                    <input type="password" class="form-control" id="pwd-2" name="pwd-2" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="accept" required> I agree on selling my
                        organs to our company
                        <div class="invalid-feedback">Check this checkbox to continue.</div>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                {% if error_message %}
                <strong class="text-danger">{{error_message}}</strong>
                {% endif %}
            </form>

            <div class="h-divider mt-3"></div>
            <p>Already have a account? press <a href="/users/login">here</a> to login</p>
        </div>
    </div>
</div>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}